/* h1{
    color: red;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
} */
/* .carousel-item {
    transform:  0.5s ease, opacity ;
} */
/* .w-100{
    width: 50px;
    
}  */

/* img.d-block.w-100{
    width: 80%!important;
    height: auto!important;
} */

